/* Dimensions of the card, Feel free to change any and all values*/
.cover {
    height: 200px;
	width: 320px;
    margin: 15px;
    display: block;
}

@media (max-width: 576px){
    .cover{
        width: 100%;
    }
}


/* Do Not change this part of the code unless you know what you're doing */

.atvImg-rendered-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%; 
	left: 0%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: cover;
	transition: all 0.1s ease-out;
	overflow: hidden;
	border-radius: 8px;
}


.atvImg {
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000,0);
}

.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all 0.2s ease-out;
}


/* ******************************   Optional Effects   ****************************** */


/*Shadow Effect*/

    /*shadow when not hovering oner the card*/

        
        .atvImg-shadow {
            position: absolute;
            top: 5%; 
            left: 5%;
            width: 90%;
            height: 90%;
            transition: all 0.2s ease-out;
            box-shadow: 0 8px 30px rgba(14,21,47,0.6);
        }
        


    /*Shadow when hovering over the card (This wouldn't work if the previous one is disabled*/
        
        .atvImg-container.over .atvImg-shadow {
            box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
        }
    


/*Shine Effect*/

    /*
    .atvImg-shine {
        position: absolute;
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0;
        border-radius: 8px;
        background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
    }
    */