*{
    /*cursor: none;*/
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}

.cursor--small {
    width: 6px;
    height: 6px;
    left: -3px;
    top: -3px;
    border-radius: 50%;
    z-index: 11000;
    background: #ffc451;
}

.cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
}