.section-title{
    margin: 120px 0 20px 0;
}

header{
    background-color: rgba($color: #000, $alpha: .8);
}


.blog-container{

    *{
        transition-duration: 100ms;
        animation-duration: 100ms;
    }

    .row{
        flex-wrap: wrap;
        justify-content: center;

        .col-md-4{
            padding: 40px;
            min-height: 200px;
            min-width: 360px;

            a,a:visited,a:hover{
                color: black;
                text-decoration: none;
            }

            .blog-wrapper{
                height: 100%;
                width: 100%;
                position: relative;
                transition-duration: 100ms;
                animation-duration: 100ms;

                .tag,.author{
                    text-transform: capitalize;
                }

                figure{
                    height: 200px;
                    width: 100%;
                    background-color: lightseagreen;
                    border-radius: 15px;
                    overflow-x: hidden;

                    img{
                        height: 100%;
                        width: 100%;
                    }
                }

                .blog-title{
                    margin-top: 10px;
                    font-size: 1.7rem;
                }

                .content{
                    text-align: justify;
                    margin: 20px 0;
                }
            }
        }
    }
}

@media (max-width: 768px){

    .container{
        .row{
            .col-md-4{
                .blog-wrapper{
                    figure{
                        height: 300px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px){
    .section-title{
        margin: 30px 0;
    }
    .container{
        .row{
            .col-md-4{
                padding: 5%;
                margin-bottom: 50px;
                min-width: 100%;

                .blog-wrapper{
                    figure{
                        height: 200px;
                    }
                }
            }
        }
    }
}