@mixin bck-blur {
    background: rgba(0,0,0,0.5);
    backdrop-filter: saturate(180%) blur(20px);
    background-position: bottom;
    -webkit-backdrop-filter: saturate(180%) blur(100px);
}

.projects{
    width: 100%;
    padding: 0;

    .container-fluid{
        width: 100%;
        padding: 0;
        background-image: url('../assets/images/projects/backgrounds/background-2.jpg');
        background-attachment: fixed;
        background-size: cover;

        .carousel{

            .carousel-control-next{
                right: -3.5%;
                width: 40%;
                cursor: url('../assets/images/cursor/arrow_right_white.png'), auto;
            }

            .carousel-control-prev{
                left: -3.5%;
                width: 40%;
                cursor: url('../assets/images/cursor/arrow_left_white.png'), auto;
            }


            .carousel-inner{
                @include bck-blur();

                .carousel-item{
                    height: 130vh;
                    
                    .project-wrapper{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;

                        .container{
                            //padding: 100px 0;

                            .row{
                                color: white;

                                .left{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img{
                                        width: 80%;
                                    }
                                }

                                .right{
                                    //padding: 70px 50px 70px 0;

                                    .project-title{
                                        text-transform: uppercase;
                                        font-weight: 700;
                                    }

                                    span{
                                        font-weight: 700;
                                    }

                                    .website{
                                        position: relative;
                                        margin: 20px 0;
                                    }

                                    .project-info{
                                        text-align: justify;
                                        margin: 30px 0;

                                        span{
                                            text-transform: uppercase;
                                        }
                                    }

                                    .team{
                                        background-color: rgba(0, 0, 0, 0);
                                        padding: 0 0 0 15px !important;
                                        text-transform: capitalize;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px){
    .projects{

        .carousel-item{
            height: unset !important;
        }

        .container{
            padding: 0 !important;
        }

        .left{
            padding-top: 70px;
            img{
                height: unset !important;
                width: 90%;
            }
        }

        .right{
            padding: 60px 10% !important;
        }

        .carousel-control-next,.carousel-control-prev{
            display: none !important;
        }
    }
}