.section-title{
  margin: 5% 0;
}

.container .row{
  flex-wrap: wrap;
  background-color: lightgreen;
}

.container .row .col-md-4{
  min-height: 200px;
  background-color: lightblue;
}

.container .row .col-md-4 .blog-wrapper{
  height: 100%;
  width: 100%;
  background-color: lightcoral;
  /*font-weight: 400;*/
}