/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/





.main-page {
  margin-top: 70px;
}

.wow {
  visibility: hidden;
}


/* Sections Header
--------------------------------*/

.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;

}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #22bbf8;
  bottom: 0;
  left: calc(50% - 30px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}



/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 15px 15px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(6, 12, 34, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 17px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #f82249;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #f82249;
}

#mobile-nav ul .menu-item-active {
  color: #f82249;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(6, 12, 34, 0.8);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}


/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/
.schedule23{
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  margin-left: 15%;
}
#schedule {
  padding: 60px 0 60px 0;
  font-size: 110%;
  -webkit-align-content: center;
  align-content: center;
 background-color: #fff;
}
#schedule .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;  
}
#schedule .nav-tabs li {
  display: inline-block;
  margin-bottom: 0; 
}
#schedule .nav-tabs a {
  border: none;
  border-radius: 50px;
  font-weight: 800;
  background-color: #0e1b4d;
  color: #fff;
  padding: 10px 100px;
}
#schedule .nav-tabs a.active {
  background-color: #22bbf8;
  color: #fff;
}
#schedule .sub-heading {
  text-align: center;
  font-size: 18px;  
  margin: 0 auto 30px auto;
}
#schedule .tab-pane {
  transition: ease-in-out .2s;
}
#schedule .schedule-item {
  border-bottom: 1px solid #cad4f6;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color ease-in-out 0.3s;
}
#schedule .schedule-item:hover {
  background-color: #E6E6FA;
}
#schedule .schedule-item time {
  padding-bottom: 5px;
  display: inline-block;
}
#schedule .schedule-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
#schedule .schedule-item h4 span {
  font: 400 15px Lato, sans-serif;
  color: #19328e;
  font-weight: normal;
  font-size: 16px;
}
#schedule .schedule-item p {
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #152b79;
  margin-bottom: 0;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-54 { font-size: 54px; }
#schedule .schedule-item-icon {
  width: 60px;
  height: 60px;
  overflow: hidden;
  float: left;
  margin: 0 10px 10px 0;
  color: #000000;
}
/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/
@media (min-width: 767px) {
  #subscribe input {
    min-width: 400px;
  }
}
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

@media (min-width: 991px) {
  #schedule .sub-heading {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }

  #about {
    background-attachment: fixed;
  }

  #subscribe {
    background-attachment: fixed;
  }
}

@media (max-width: 1199px) {
  #header .container {
    max-width: 100%;
  }

  .nav-menu a {
    padding: 8px 4px;
  }
}

@media (max-width: 991px) {

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }

  #intro .intro-container {
    top: 70px;
  }

  #intro h1 {
    font-size: 58px;
  }

  #intro p {
    font-size: 16px;
  }

  #schedule .nav-tabs a {
    padding: 8px 60px;
  }
}
